.list-table-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    padding: 12px 15px;
    gap: 10px;
    border: 1px solid #cacaca;
    font-size: 13px;
}
.list-table-format .title{
    background-color: #f9f9f9;
}
.list-table-format img{
    width: 50px;
}
.cursor {
  background-color: #ff755e; 
  color: white;              
  border: none;              
  padding: 6px 10px;         
  border-radius: 5px;       
  cursor: pointer;           
  font-weight: 500;          
  transition: all 0.2s ease-in-out; 
}

.cursor:hover {
  background-color: #ff6347; 
  transform: scale(1.05);    
}




@media (max-width:600px) {
    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    .list-table-format .title{
        display: none;
    }
    
}